body {
	background: url("../images/bg.png") repeat;
}

.main-body {
	padding:2em;
}

.title {
	font-family: 'Monoton', cursive;
	color:#ffff33;
	font-size:8em;
}

.title2 {
	font-family: 'Bungee Hairline', cursive;
	color: #80ffff;
}

.images {
	margin-top: 3em;
}

img {
	margin:.5em;
}

.generate {
	background-color: #80ffff;
	font-family: 'Bungee Hairline', cursive;
	color:black;
	margin-bottom:.1em;
}

@media screen and (max-width: 805px) {
	.title{
		font-size:6em;
	}
}

@media screen and (max-width: 625px) {
	.title{
		font-size:3.5em;
	}
	.title2 {
	color: #80ffff;
	font-size: 1em;
}
}





